<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recursivepenguin.bluetoothmanagerforglass"
    android:versionCode="4"
    android:versionName="1.3">

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_bluetooth_medium">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </activity>

        <activity android:name=".PairedDevicesListActivity"/>

        <activity android:name=".PairDevicesActivity"/>

        <activity android:name=".ble.BleDevicesActivity" />

        <activity android:name=".ble.BleServicesActivity" />

    </application>

</manifest>
